*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=New+Tegomin&family=Sacramento&display=swap');
.body{
    background-image: url('image/image.jpg');
    min-height: 100vh; /*vh = viewport height any using device's height*/
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
}
@media screen and (max-width: 600px) {
    .body {
      background-image: url('image/image2.jpg');
      min-height: 100vh;
      background-size: 100vw 100vh;
    }
  }

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: "Sacramento", cursive;
}

@media screen and (max-width: 600px) {
    #scoreBox {
     top: 50px;
    }
  }

#hiscoreBox{
    position: absolute;
    top: 60px;
    right: 80px;
    font-size: 39px;
    font-weight: bold;
    font-family: "Sacramento", cursive;
}

@media screen and (max-width: 600px) {
    #hiscoreBox {
     top: 110px;
    }
  }

#board {
    background: linear-gradient(rgb(131, 218, 131), rgb(212, 212, 113));
    width: 92vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr); /*18 row */
    grid-template-columns: repeat(18, 1fr);/*18 columns*/
}

.head{
    background: linear-gradient(red, yellow);
    border:  2px solid rgb(89, 48, 89);
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border:  .25vmin solid white;
    border-radius: 12px;
}

.food{
    background-color: yellow;
    background: linear-gradient(red, purple);
    border:  .25vmin solid black;
    border-radius: 8px;
}